.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 50px;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
  }
  .main:not(:last-child) {
    margin-right: 60px;
  }
  
  .label {
    margin-top: 20px;
  }